# California Housing Prices Data Manipulation

Wayne Huynh

# Import packages

In [2]:
# standard imports
import pandas as pd
import numpy as np

# Read Data

In [3]:
# Read CSV files
long_lat = pd.read_csv('long_lat.csv')
low =  pd.read_csv('cal_housing_low.csv')
medium = pd.read_csv('cal_housing_medium.csv')
high = pd.read_csv('cal_housing_high.csv')
ocean = pd.read_csv('ocean_proximity.csv')
ocean

      ocean_proximity  longitude  latitude
0            NEAR BAY    -122.23     37.88
1            NEAR BAY    -122.22     37.86
2            NEAR BAY    -122.24     37.85
3            NEAR BAY    -122.25     37.85
4            NEAR BAY    -122.25     37.84
...               ...        ...       ...
12585          INLAND    -121.09     39.48
12586          INLAND    -121.21     39.49
12587          INLAND    -121.22     39.43
12588          INLAND    -121.32     39.43
12589          INLAND    -121.24     39.37

[12590 rows x 3 columns]

# Manipulate the Dataframes

In [6]:
#Concatenate cal_housing dfs
#Reset index
cal_housing = pd.concat([low, medium, high], ignore_index=True)
cal_housing

,id,state,medianHouseValue,housingMedianAge,totalBedrooms,totalRooms,households,population,medianIncome
0,23,CA,113.903,NaN,543.0,2438.0,481.0,1016.0,17250.0
1,24,CA,99.701,56.0,337.0,1692.0,328.0,856.0,21806.0
2,26,CA,107.500,41.0,123.0,535.0,121.0,317.0,24038.0
3,27,CA,93.803,53.0,244.0,1132.0,241.0,607.0,24597.0
4,28,CA,105.504,52.0,423.0,1899.0,400.0,1104.0,18080.0
...,...,...,...,...,...,...,...,...,...
21553,21425,CA,276.501,8.0,756.0,4987.0,726.0,2513.0,69454.0
21554,21446,CA,310.004,11.0,514.0,1780.0,507.0,4481.0,14653.0
21555,21450,CA,286.002,17.0,317.0,1964.0,287.0,811.0,59629.0
21556,21452,CA,326.501,17.0,1022.0,6141.0,967.0,2557.0,42432.0
21557,21497,CA,275.003,40.0,69.0,355.0,71.0,240.0,28542.0

In [7]:
 #Merge cal_housing df with long_lat df
coordinates = cal_housing.merge(long_lat)
coordinates

,id,state,medianHouseValue,housingMedianAge,totalBedrooms,totalRooms,households,population,medianIncome,longitude,latitude
0,23,CA,113.903,NaN,543.0,2438.0,481.0,1016.0,17250.0,-122.27,37.84
1,24,CA,99.701,56.0,337.0,1692.0,328.0,856.0,21806.0,-122.27,37.84
2,26,CA,107.500,41.0,123.0,535.0,121.0,317.0,24038.0,-122.28,37.85
3,27,CA,93.803,53.0,244.0,1132.0,241.0,607.0,24597.0,-122.28,37.85
4,28,CA,105.504,52.0,423.0,1899.0,400.0,1104.0,18080.0,-122.28,37.85
...,...,...,...,...,...,...,...,...,...,...,...
21553,21425,CA,276.501,8.0,756.0,4987.0,726.0,2513.0,69454.0,-118.73,34.29
21554,21446,CA,310.004,11.0,514.0,1780.0,507.0,4481.0,14653.0,-121.79,38.54
21555,21450,CA,286.002,17.0,317.0,1964.0,287.0,811.0,59629.0,-121.81,38.58
21556,21452,CA,326.501,17.0,1022.0,6141.0,967.0,2557.0,42432.0,-121.67,38.54
21557,21497,CA,275.003,40.0,69.0,355.0,71.0,240.0,28542.0,-121.81,38.84

In [8]:
# Merge coordinates df with ocean df
ocean_prox = coordinates.merge(ocean)
# Sort the final housing DataFrame by id in ascending order
# Reset index
housing = ocean_prox.sort_values(by=['id'], ascending=True, ignore_index=True)
housing

,id,state,medianHouseValue,housingMedianAge,totalBedrooms,totalRooms,households,population,medianIncome,longitude,latitude,ocean_proximity
0,1,CA,452.603,45.0,131.0,884.0,130.0,323.0,83252.0,-122.23,37.88,NEAR BAY
1,2,CA,358.502,23.0,1108.0,7103.0,1141.0,2403.0,83014.0,-122.22,37.86,NEAR BAY
2,3,CA,352.104,53.0,193.0,1468.0,180.0,500.0,72574.0,-122.24,37.85,NEAR BAY
3,4,CA,341.300,55.0,236.0,1278.0,222.0,558.0,56431.0,-122.25,37.85,NEAR BAY
4,5,CA,342.200,54.0,282.0,1628.0,262.0,568.0,38462.0,-122.25,37.85,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...,...,...
21553,21554,CA,78.101,28.0,374.0,1665.0,332.0,847.0,15603.0,-121.09,39.48,INLAND
21554,21555,CA,77.102,18.0,154.0,701.0,114.0,360.0,25568.0,-121.21,39.49,INLAND
21555,21556,CA,92.301,19.0,488.0,2257.0,437.0,1007.0,17000.0,-121.22,39.43,INLAND
21556,21557,CA,84.701,21.0,412.0,1864.0,349.0,744.0,18672.0,-121.32,39.43,INLAND
21557,21558,CA,89.401,18.0,616.0,2787.0,532.0,1387.0,23886.0,-121.24,39.37,INLAND

In [9]:
# Drop any rows with a missing value for the medianHouseValue column
housing = housing.dropna(subset=['medianHouseValue'])
housing

,id,state,medianHouseValue,housingMedianAge,totalBedrooms,totalRooms,households,population,medianIncome,longitude,latitude,ocean_proximity
0,1,CA,452.603,45.0,131.0,884.0,130.0,323.0,83252.0,-122.23,37.88,NEAR BAY
1,2,CA,358.502,23.0,1108.0,7103.0,1141.0,2403.0,83014.0,-122.22,37.86,NEAR BAY
2,3,CA,352.104,53.0,193.0,1468.0,180.0,500.0,72574.0,-122.24,37.85,NEAR BAY
3,4,CA,341.300,55.0,236.0,1278.0,222.0,558.0,56431.0,-122.25,37.85,NEAR BAY
4,5,CA,342.200,54.0,282.0,1628.0,262.0,568.0,38462.0,-122.25,37.85,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...,...,...
21553,21554,CA,78.101,28.0,374.0,1665.0,332.0,847.0,15603.0,-121.09,39.48,INLAND
21554,21555,CA,77.102,18.0,154.0,701.0,114.0,360.0,25568.0,-121.21,39.49,INLAND
21555,21556,CA,92.301,19.0,488.0,2257.0,437.0,1007.0,17000.0,-121.22,39.43,INLAND
21556,21557,CA,84.701,21.0,412.0,1864.0,349.0,744.0,18672.0,-121.32,39.43,INLAND
21557,21558,CA,89.401,18.0,616.0,2787.0,532.0,1387.0,23886.0,-121.24,39.37,INLAND

In [10]:
# Fill any rows with a missing value for the housingMedianAge column with the median value for that column
median_age = housing['housingMedianAge'].median()
housing.loc[housing['housingMedianAge'].isnull(), 'housingMedianAge'] = median_age
housing

C:\Users\wayne\anaconda3\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

,id,state,medianHouseValue,housingMedianAge,totalBedrooms,totalRooms,households,population,medianIncome,longitude,latitude,ocean_proximity
0,1,CA,452.603,45.0,131.0,884.0,130.0,323.0,83252.0,-122.23,37.88,NEAR BAY
1,2,CA,358.502,23.0,1108.0,7103.0,1141.0,2403.0,83014.0,-122.22,37.86,NEAR BAY
2,3,CA,352.104,53.0,193.0,1468.0,180.0,500.0,72574.0,-122.24,37.85,NEAR BAY
3,4,CA,341.300,55.0,236.0,1278.0,222.0,558.0,56431.0,-122.25,37.85,NEAR BAY
4,5,CA,342.200,54.0,282.0,1628.0,262.0,568.0,38462.0,-122.25,37.85,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...,...,...
21553,21554,CA,78.101,28.0,374.0,1665.0,332.0,847.0,15603.0,-121.09,39.48,INLAND
21554,21555,CA,77.102,18.0,154.0,701.0,114.0,360.0,25568.0,-121.21,39.49,INLAND
21555,21556,CA,92.301,19.0,488.0,2257.0,437.0,1007.0,17000.0,-121.22,39.43,INLAND
21556,21557,CA,84.701,21.0,412.0,1864.0,349.0,744.0,18672.0,-121.32,39.43,INLAND
21557,21558,CA,89.401,18.0,616.0,2787.0,532.0,1387.0,23886.0,-121.24,39.37,INLAND

In [11]:
# Drop the state column
housing = housing.drop(columns=['state'])
housing

,id,medianHouseValue,housingMedianAge,totalBedrooms,totalRooms,households,population,medianIncome,longitude,latitude,ocean_proximity
0,1,452.603,45.0,131.0,884.0,130.0,323.0,83252.0,-122.23,37.88,NEAR BAY
1,2,358.502,23.0,1108.0,7103.0,1141.0,2403.0,83014.0,-122.22,37.86,NEAR BAY
2,3,352.104,53.0,193.0,1468.0,180.0,500.0,72574.0,-122.24,37.85,NEAR BAY
3,4,341.300,55.0,236.0,1278.0,222.0,558.0,56431.0,-122.25,37.85,NEAR BAY
4,5,342.200,54.0,282.0,1628.0,262.0,568.0,38462.0,-122.25,37.85,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...,...
21553,21554,78.101,28.0,374.0,1665.0,332.0,847.0,15603.0,-121.09,39.48,INLAND
21554,21555,77.102,18.0,154.0,701.0,114.0,360.0,25568.0,-121.21,39.49,INLAND
21555,21556,92.301,19.0,488.0,2257.0,437.0,1007.0,17000.0,-121.22,39.43,INLAND
21556,21557,84.701,21.0,412.0,1864.0,349.0,744.0,18672.0,-121.32,39.43,INLAND
21557,21558,89.401,18.0,616.0,2787.0,532.0,1387.0,23886.0,-121.24,39.37,INLAND

In [12]:
# Scale the medianIncome to express the values in $10,000 of dollars
housing['medianIncome'] = housing['medianIncome'] / 10000

# Recreate this data by changing any values in the medianIncome column that are 0.4999 or lower to 0.4999
# and change any values that are 15.0001 and higher to 15.0001
housing['medianIncome'] = housing['medianIncome'].apply(lambda x: 0.4999 if x < 0.4999 else (15.0001 if x > 15.0001 else x))

# Revert the medianHouseValue back to actual dollars
housing['medianHouseValue'] = housing['medianHouseValue'] * 1000

housing

,id,medianHouseValue,housingMedianAge,totalBedrooms,totalRooms,households,population,medianIncome,longitude,latitude,ocean_proximity
0,1,452603.0,45.0,131.0,884.0,130.0,323.0,8.3252,-122.23,37.88,NEAR BAY
1,2,358502.0,23.0,1108.0,7103.0,1141.0,2403.0,8.3014,-122.22,37.86,NEAR BAY
2,3,352104.0,53.0,193.0,1468.0,180.0,500.0,7.2574,-122.24,37.85,NEAR BAY
3,4,341300.0,55.0,236.0,1278.0,222.0,558.0,5.6431,-122.25,37.85,NEAR BAY
4,5,342200.0,54.0,282.0,1628.0,262.0,568.0,3.8462,-122.25,37.85,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...,...
21553,21554,78101.0,28.0,374.0,1665.0,332.0,847.0,1.5603,-121.09,39.48,INLAND
21554,21555,77102.0,18.0,154.0,701.0,114.0,360.0,2.5568,-121.21,39.49,INLAND
21555,21556,92301.0,19.0,488.0,2257.0,437.0,1007.0,1.7000,-121.22,39.43,INLAND
21556,21557,84701.0,21.0,412.0,1864.0,349.0,744.0,1.8672,-121.32,39.43,INLAND
21557,21558,89401.0,18.0,616.0,2787.0,532.0,1387.0,2.3886,-121.24,39.37,INLAND

In [10]:
# Update the column names
housing.rename(columns={
    'longitude': 'longitude',
    'latitude': 'latitude',
    'housingMedianAge': 'housing_median_age',
    'totalRooms': 'total_rooms',
    'totalBedrooms': 'total_bedrooms',
    'population': 'population',
    'households': 'households',
    'medianIncome': 'median_income',
    'medianHouseValue': 'median_house_value',
    'ocean_proximity': 'ocean_proximity'
}, inplace=True)

# Reorder columns
reorder = [
    'longitude',
    'latitude',
    'housing_median_age',
    'total_rooms',
    'total_bedrooms',
    'population',
    'households',
    'median_income',
    'median_house_value',
    'ocean_proximity'
]

housing = housing[reorder]
housing

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,45.0,884.0,131.0,323.0,130.0,8.3252,452603.0,NEAR BAY
1,-122.22,37.86,23.0,7103.0,1108.0,2403.0,1141.0,8.3014,358502.0,NEAR BAY
2,-122.24,37.85,53.0,1468.0,193.0,500.0,180.0,7.2574,352104.0,NEAR BAY
3,-122.25,37.85,55.0,1278.0,236.0,558.0,222.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,54.0,1628.0,282.0,568.0,262.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
21553,-121.09,39.48,28.0,1665.0,374.0,847.0,332.0,1.5603,78101.0,INLAND
21554,-121.21,39.49,18.0,701.0,154.0,360.0,114.0,2.5568,77102.0,INLAND
21555,-121.22,39.43,19.0,2257.0,488.0,1007.0,437.0,1.7000,92301.0,INLAND
21556,-121.32,39.43,21.0,1864.0,412.0,744.0,349.0,1.8672,84701.0,INLAND
21557,-121.24,39.37,18.0,2787.0,616.0,1387.0,532.0,2.3886,89401.0,INLAND

In [11]:
# Change all columns to a float data type except for the ocean_proximity column
columns_to_float = ['longitude', 'latitude', 'housing_median_age', 'total_rooms',
                 'total_bedrooms', 'population', 'households', 'median_income',
                 'median_house_value']

# Convert specified columns to float data type
housing.loc[:, columns_to_float] = housing[columns_to_float].astype(float)
housing

C:\Users\wayne\anaconda3\lib\site-packages\pandas\core\indexing.py:1884: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, val, pi)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,45.0,884.0,131.0,323.0,130.0,8.3252,452603.0,NEAR BAY
1,-122.22,37.86,23.0,7103.0,1108.0,2403.0,1141.0,8.3014,358502.0,NEAR BAY
2,-122.24,37.85,53.0,1468.0,193.0,500.0,180.0,7.2574,352104.0,NEAR BAY
3,-122.25,37.85,55.0,1278.0,236.0,558.0,222.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,54.0,1628.0,282.0,568.0,262.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
21553,-121.09,39.48,28.0,1665.0,374.0,847.0,332.0,1.5603,78101.0,INLAND
21554,-121.21,39.49,18.0,701.0,154.0,360.0,114.0,2.5568,77102.0,INLAND
21555,-121.22,39.43,19.0,2257.0,488.0,1007.0,437.0,1.7000,92301.0,INLAND
21556,-121.32,39.43,21.0,1864.0,412.0,744.0,349.0,1.8672,84701.0,INLAND
21557,-121.24,39.37,18.0,2787.0,616.0,1387.0,532.0,2.3886,89401.0,INLAND

In [12]:
# Reset the DataFrame index so that it goes from 0 to n-1, where n is the number of rows
housing.reset_index(drop=True, inplace=True)
housing

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,45.0,884.0,131.0,323.0,130.0,8.3252,452603.0,NEAR BAY
1,-122.22,37.86,23.0,7103.0,1108.0,2403.0,1141.0,8.3014,358502.0,NEAR BAY
2,-122.24,37.85,53.0,1468.0,193.0,500.0,180.0,7.2574,352104.0,NEAR BAY
3,-122.25,37.85,55.0,1278.0,236.0,558.0,222.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,54.0,1628.0,282.0,568.0,262.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,28.0,1665.0,374.0,847.0,332.0,1.5603,78101.0,INLAND
20636,-121.21,39.49,18.0,701.0,154.0,360.0,114.0,2.5568,77102.0,INLAND
20637,-121.22,39.43,19.0,2257.0,488.0,1007.0,437.0,1.7000,92301.0,INLAND
20638,-121.32,39.43,21.0,1864.0,412.0,744.0,349.0,1.8672,84701.0,INLAND
20639,-121.24,39.37,18.0,2787.0,616.0,1387.0,532.0,2.3886,89401.0,INLAND